
<!-- users index -->
<!-- -->
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<!-- user show -->
			<!-- @user = current_user 現在ログインしているユーザのみ-->
			<div>
				<h2>User info</h2>
				<div>
					<!-- sixe使用 -->
					<%= attachment_image_tag current_user, :profile_image, size: "100x100" %>
				</div>
				<table class="table">
						<tr>
							<th>name</th>
							<th><%= current_user.name %></th>
						</tr>
						<tr>
							<th>introduction</th><th><%= current_user.introduction %></th>
						</tr>
				</table>
				<div>
					<!-- ログインじのみ編集できるようにする -->
					<!-- if もしログインしていたら -->
					<% if user_signed_in? %>
						<%= link_to "", edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
					<!-- していなかったら -->
					<% else %>
						<%= link_to "", user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
					<% end %>
					<!-- ここまで -->
				</div>
			</div>

			<!-- book new -->
			<%= form_for(@book) do |f| %>
				<div>
					<div>
						<h2>New book</h2>
					</div>
					<div>
						<h5>Title</h5>
						<%= f.text_field :title, class: "col-xs-12" %>
					</div>
					<div>
						<h5>Opinion</h5>
						<%= f.text_field :body, class: "col-xs-12" %>
					</div>
					<div>
						<%= f.submit "Create Book", class: "btn btn-primary col-xs-12" %>
					</div>
				</div>
			<% end %>


		</div>
		<!-- users index @users =User.all-->
		<div class="col-md-9">
			<h2>Books</h2>
			<table class="table　table-hover table-invers">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th><th>
						<th colspan="3"></th>
					</tr>
				</thead>
				<tbody>
					<% @books.each do |book| %>
						<tr>
							<!-- 関連づけたものから取得する -->
							<!-- 表示おかしい -->
							<!-- 中身が消える -->
							<td>
								<%= link_to user_path(book.user.id) do %>
									<%= attachment_image_tag book.user, :profile_image, size: "50x50"%>
								<% end %>
							</td>
							<!-- book showページ作ってリンク作る -->
							<td><%= link_to book.title, book_path(book.id) %></td>
							<td><%= book.body %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

