<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-oddset-3">
			<h1>Editing Book</h1>
			<div>
				<%= form_for(@book) do |f| %>
					<div>
						<label for="title">Title</label>
						<%= f.text_field :title, class: "text_field_edit" %>
					</div>
					<div>
						<!-- ずれているなぜ -->
						<label for="body">Opinion</label>
						<%= f.text_field :body, class: "text_field_edit" %>
					<div>
						<%= f.submit "Update Book", class: "btn btn-primary col-xs-12" %>
					</div>
					<%= link_to "Show", book_path(@book.id) %>
					|
					<%= link_to "Back", books_path %>
				<% end %>
			</div>
		</div>
	</div>
</div>