
<!-- users index -->
<!-- -->
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<!-- user show -->
			<!-- @user = current_user 現在ログインしているユーザのみ-->
			<div>
				<h2>User info</h2>
				<div>
					<!-- sixe使用 -->
					<!-- 変更する -->
					<%= attachment_image_tag @user, :profile_image, size: "100x100" %>
				</div>
				<table class="table">
						<tr>
							<th>name</th>
							<th><%= @user.name %></th>
						</tr>
						<tr>
							<th>introduction</th><th><%= @user.introduction %></th>
						</tr>
				</table>
				<div>
					<!-- ログインじのみ編集できるようにする -->
					<%= link_to "", edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
				</div>
			</div>

			<!-- book new -->
			<%= form_for(@book) do |f| %>
				<div>
					<div>
						<h2>New book</h2>
					</div>
					<div>
						<h5>Title</h5>
						<%= f.text_field :title, class: "col-xs-12" %>
					</div>
					<div>
						<h5>Opinion</h5>
						<%= f.text_field :body, class: "col-xs-12" %>
					</div>
					<div>
						<%= f.submit "Create Book", class: "btn btn-primary col-xs-12" %>
					</div>
				</div>
			<% end %>


		</div>
		<div class="col-md-9">
			<h2>Book detail</h2>
			<table class="table">
				<tbody>
					<tr>
						<!-- 関連づけられたmodel から一つのカラムを取得する -->
						<td><%= attachment_image_tag @user, :profile_image, size: "50x50"%></td>
						<td><%= @books.title %></td>
						<td><%= @books.body %></td>
						<!-- ログインしているユーザが投稿者だった場合のみ表示 -->
						<% if user_signed_in? %>
							<td><%= link_to "Edit", edit_book_path(@books.id), class: "btn-sm btn-success" %></td>
							<td><%= link_to "Destroy", book_path(@books.id), method: :delete, class: "btn-sm btn-danger", "date-conform" => "本当に消しますか" %></td>

						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
