<h1>Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <!-- nameでのlogin -->
  <h5>Name</h5>
  <%= f.text_field :name %>

  <h5>Password</h5>
  <%= f.password_field :password %>

  <div>
    <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>Remember me</span>
    <% end %>
<!--     <label for="user_remender_me">Remenber me</label> -->
  </div>

  <!-- リンク先確認　ルートも -->
  <%= f.submit "Log in"  %>

  <div>
    <!-- リンク　user:id あとで -->
    <%=  link_to "Sign up", new_user_registration_path %>
  </div>

  <div>
    <%= link_to "Forgot your password?", new_user_password_path %>
  </div>


<% end %>
